# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual envs 
venv/
.env

# Model weights 
*.pt
*.pth

# Datasets - ignore big raw data, but keep sources.md
data/raw/
data/images/
!data/sources.md

# Results - ignore heavy outputs, but keep JSON, plots, reports
results/checkpoints/
results/videos/
!results/*.json
!results/*.png
!results/*.pdf

# OS junk
.DS_Store
Thumbs.db
